<!DOCTYPE html>
<html>
<head><title></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style>#techUsed {
        list-style-type: none;
    }

    #techUsed li {
        display: inline;
    }

    #changeLog {
        list-style-type: none;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand">ProjectJTW</a></div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/xiyouji">Xiyouji Relation</a></li>
            <li class="active"><a href="/about">About</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">About me</h1>
            <p>I am a to-be alumni of UW-Madison, graduated with a Bachelor of Science in Computer Science, I am
                actively seeking a job in Java development.</p>You can Contact me at sjiang42#wisc.edu
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"><h2 class="page-header">About this project</h2>
            <p>This project serves as the final project for E Asian 371 Journey to the West taught by Professor Rania
                Huntington</p>The intended purpose for this site is to teach or help students familiarize themselves
            with the Journey to the West.
            This also serves as a side project where I try the technologies that I am interested in.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"><h3 class="page-header">Technologies used</h3>
            <ul id="techUsed">
                <li><img src="images/heroku.png"></li>
                <li><img src="images/nodejs-128.png"></li>
                <li><img src="images/psql.PNG"></li>
                <li><img src="images/d3_logo.png"></li>
                <li><img src="images/bootstrape.png"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"><h4 class="page-header">Changelog</h4>
            <ul id="changeLog">
                <li>05-07-2016 Website with basic functionality is up and running. The only feature is relationship
                    mapping for now.
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12"><p>Copyright &copy; KevinSJ 2016</p></div>
        </div>
    </footer>
</div>
</body>
</html>