extends layout

block content
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                a.navbar-brand(href='#') ProjectJTW
            ul.nav.navbar-nav
                li.active
                    a(href='#') Home
                li
                    a(href='/xiyouji') Xiyouji Relation
                li
                    a(href='/about') About

    .row
        h1 &nbsp WORK IN PROGRESS... COMING SOON...
    hr
    footer
        .row
            .col-lg-12
                p Copyright &copy; KevinSJ 2016
